<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |line| %>
    <li>
      <%= link_to line.title, article_path(line) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, class: "new_article" %>
